.popup__container {
  width: 430px;
  min-height: 330px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 568px){
  .popup__container {
    width: 282px;
    min-height: 322px;
    padding: 26px 22px;
  }
}

