.popup__submit-button-caption {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 14px auto 14px;
  display: block;
}

@media screen and (max-width: 568px){
  .popup__submit-button-caption {
    font-size: 14px;
    line-height: 17px;
  }
}
