.popup__profile-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  margin: 54px 0 0;
  padding: 0;
}

@media screen and (max-width: 568px){
  .popup__profile-title {
    margin: 75px 0 0;
  }
}
