.elements {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  max-width: 880px;
  margin: 0 auto;
  padding: 51px 0 0;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 768px){
  .elements {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
    max-width: 581px;
  }
}

@media screen and (max-width: 425px){
  .elements {
    width: 282px;
    padding: 36px 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
