@import url(../vendor/normalize.css);

/*Шрифт Inter*/
@import url(../fonts/Inter_Web/inter.css);

/*Стили блока main-page*/
@import url(../blocks/main-page/main-page.css);

/*Стили блока header*/
@import url(../blocks/header/header.css);

/*Стили блока logo*/
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_header/logo_header.css);

/*Стили блока profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__info-edit-button/profile__info-edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

/*Стили блока elements*/
@import url(../blocks/elements/elements.css);

/*Стили блока element*/
@import url(../blocks/element/element.css);
@import url(../blocks/element/__mask/element__mask.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__delete/element__delete.css);

/*Стили блока footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/*Стили блока popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__inputs/popup__inputs.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);

/*Стили блока close-button*/
@import url(../blocks/close-button/close-button.css);
@import url(../blocks/close-button/_popup/close-button_popup.css);

/*Стили блока element-popup*/
@import url(../blocks/element-popup/element-popup.css);
@import url(../blocks/element-popup/_opened/element-popup_opened.css);
@import url(../blocks/element-popup/__container/element-popup__container.css);
@import url(../blocks/element-popup/__mask/element-popup__mask.css);
@import url(../blocks/element-popup/__caption/element-popup__caption.css);
